<main class='index'>
    <div class='container col-md-5 p-0'>
      {{#if user}}
      <div class="mt-5 mb-4">
        {{>createPost}}
      </div>
      {{/if}}
      <section class="mt-5">
      <header class='mb-3'>
        <h4>Últimos posts</h4>
      </header>
      <div>
        {{#each posts}}
          <div class='post-item card mb-3'>
            <div class='card-body'>
              <div class="card-title">
                <a href="usuario/{{user_id}}" class="text-reset">
                  <b>{{nickname}}</b>
                </a>
              </div>
              <div class="card-text">

              </div>
              <p class='m-0'>{{text}}</p>
              <a href='/post/{{id}}'>Ver respuestas</a>
            </div>
          </div>
        {{else}}
          <p>No hay ningun post</p>
        {{/each}}
      </div>
      </section>
    </div>
</main>